<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <title>About</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <p>GRADUATE ROTATIONAL INTERNSHIP PROGRAM - MAY 2021</p>
    <p>Basic Banking System</p>
  </body>
  <style>
    p{
      font-family: 'Rubik', sans-serif;
      text-align: center;
    }
    body{
      background-color: black;
      color:white;
      font-size: 3vw;
    }
  </style>
</html>
