<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>NoWo | Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <h1 style="text-align:center;font-size:5vw;color:white;">NoWo.<sub id="sub"><em>No Worries</em></sub></h1>
    <div id="container">
      <p id="tagline"> Your <br> Trusted <br> Merchant </p>
      <p id="thelogo"><img src="/images/honesty.png"></p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
